# Zelda64-Redux-Documentation

# Ignore all dumped files from OoT and MM ROMs
# This includes .yaz0, .bin, .zmap, .zscene, and others
*.bin
*.yaz0
*.rarc
*.zmap
*.zscene
*.png
**/*.bin
**/*.png
**/*.rarc
**/*.yaz0
**/*.zmap
**/*.zscene
